*{
    font-family: Montserrat;
}

body{
    background: #4B79A1;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
    color: white;
    font-size: 20px;
    font-weight: normal; 
    background-color: blue;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.fa-plus{
    float: right;
}

#newTodo{
    font-size: 18px;
    color: blue;
    background-color: #f7f7f7;
    width: 100%;
    height: 40px;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

#newTodo:focus{
    background-color: white;
    border: 3px solid rgb(255, 0, 242);
    outline: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    color: #494949;
    background-color: white;
    height: 40px;
    line-height: 40px;
}

li:nth-child(2n){
    background-color: #f7f7f7;
}

span{
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    background-color: red;
    height: 100%;
    margin-right: 20px;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}

#contain{
    width: 500px;
    margin: 100px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0,0.1);
    background-color: #f7f7f7;
}

.completed{
    color: gray;
    text-decoration: line-through;
}